<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Create a Wish List Item</title>
</head>
<a href="{% url 'wishlist:home' %}">Home</a>
<a href="{% url 'user:logout' %}" style="float:right">Logout</a>

<body>
  <h1>Create a New Wish List Item</h1>
  <br>
  {% for m in messages %}
  <p>{{m}}</p>
  {% endfor %}
  <form action="{% url 'wishlist:add_item' %}" method="post">
  {% csrf_token %}
  Item/Product: <input type="text" name="item"><br><br><br>
  <input type="submit" value="Add">
  </form>
</body>
</html>
