<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <a href="{% url 'wishlist:home' %}">Home</a>
  <a href="{% url 'user:logout' %}" style="float:right">Logout</a>
  <h1>Wish Item: {{wishitem.product}}</h1>
  <h3>Users who added this product/item under their wish list:</h3>
  <br>
  <ul>
    {% for wishers in wishitem %}
    <li>{{wishers.wisher.name}}</li>
    {% endfor %}
  </ul>
</body>
</html>
